/AplicacionInstrumentos/nbproject/private/
/ModeloInstrumentos/nbproject/private/
/ModeloInstrumentos/build/
/AplicacionInstrumentos/build/
/prueba1/nbproject/private/
/prueba1/build/
/ModeloInstrumentos/dist/